@tailwind base;
@tailwind components;
@tailwind utilities;

/* basics */
body {
  @apply font-sans text-3xl
         selection:bg-neutral-900 selection:text-neutral-200
         bg-white text-neutral-900
         dark:selection:bg-neutral-200 dark:selection:text-neutral-900
         dark:bg-neutral-900 dark:text-neutral-200;
}

.btn {
  font-variant: small-caps;
}

a, .btn {
  @apply underline decoration-2 hover:no-underline
         decoration-neutral-900 dark:decoration-neutral-200;
}

/* variant */
a.muted {
  @apply no-underline hover:text-neutral-600 dark:hover:text-neutral-400
}

input, textarea {
  @apply border-neutral-900 dark:border-neutral-200;
}

/* on pages: lowercase when in two-column, bold and normal case when stacked */
h1 {
  @apply text-4xl font-bold /*xl:font-normal xl:lowercase*/
}

/* on pages: lowercase italic when two-column and h1 is lowercase and normal weight */
.subtitle {
  @apply font-normal xl:italic xl:lowercase;
}

/* reapply basics */
h1 {
  @apply mt-8 py-8
}
h2 {
  @apply text-4xl mt-8 mb-4
}

h3 {
  @apply italic mb-4 mt-6
}

p {
  @apply mb-4 text-left
    /* justify if screen big enough */
    md:text-justify;
  hyphens: auto;
}

blockquote {
  @apply pl-4 border-l-4 mb-4 border-neutral-900 dark:border-neutral-200;
}

ul {
  @apply ml-8 mb-4 list-disc;
}

ol {
  @apply ml-8 mb-4 list-decimal;
}

li > ul, li > ol {
  @apply mb-0;
}

hr {
  @apply my-8
}

/* TOC: extra space, no bullets, align to left, no link lines */
#TableOfContents ul {
  @apply list-none
}

#TableOfContents > ul {
  @apply ml-0
}

#TableOfContents a {
  @apply no-underline hover:text-neutral-600 dark:hover:text-neutral-400
  /* can I "@apply" a.muted? */
}

/* so heading in left and right column align */
article > :first-child {
  @apply mt-0 pt-0
}

/*figure.gallery-item figcaption {
  @apply hidden absolute bg-white bottom-0
}

figure.gallery-item:hover figcaption {
  @apply block
}*/

.footnote-ref, .footnote-backref {
  @apply no-underline hover:text-neutral-600 dark:hover:text-neutral-400
}

/* number paragraphs */
article.numberedcontent {
  counter-reset: section;
}

article.numberedcontent p {
  @apply overflow-auto;
}

article.numberedcontent p::after {
  @apply text-neutral-600 dark:text-neutral-400;
  counter-increment: section;
  content: counter(section);
  float: right;
}
