{{ if .Params.metadata }}
  {{ with .Params.author }}
    <p class="text-3xl mt-4"><a href="/authors/{{ . }}" class="muted">{{ . }}</a></p>
  {{ end }}

  <div class="my-6" style="font-size:12pt; line-height: 1">
    <p>
      {{ with .Params.dateSubmitted }}
        submitted: <time>{{ . }}</time>
      {{ end }}
      {{ with .Params.datePublished }}
        published: <time>{{ . }}</time>
      {{ end }}
      {{ with .Params.dateUpdated }}
        updated: <time>{{ . }}</time>
      {{ end }}
    </p>
    <p>{{ .Params.section }}</p>
    <p class="">
      <span>keywords:</span>
      {{ range .Params.tags }}
        <a href="/tags/{{ . }}" class="muted ml-4">{{ . }}</a>
      {{ end }}
    </p>
    <p class="text-base">
      {{ if .Params.abstract }}
        {{ .Params.abstract | markdownify }}
      {{ else }}
        {{ .Summary }}
      {{ end }}
    </p>
  </div>
{{ end }}
