<form
  name="{{ .Params.formName }}"
  method="POST"
  netlify
  class="text-3xl mt-12"
>

  {{ range .Params.formFields }}
    <div class="mb-12">

      <!-- text or file inputs -->
      {{ if or (eq .type "text") (eq .type "file") }}
        <label>
          <span class="text-base">{{ .title }}</span>
          <input
            class="outline-none"
            type="{{ .type }}"
            name="{{ .id }}"
            {{ if .placeholder }}
              placeholder="{{ .placeholder }}"
            {{ end }}
            {{ if .required }}
              required
            {{ end }}
          />
        </label>
      {{ end }}

      <!-- text area -->
      {{ if eq .type "textarea" }}
          <label>
            <span>{{ .title }}</span>
            <textarea
              class="outline-none"
              name="{{ .id }}"
              {{ if .required }}
                required
              {{ end }}
            ></textarea>
          </label>
      {{ end }}

      <!-- selection -->
      {{ if eq .type "selection" }}
        <label>
          <span>{{ .title }}</span>
          <select
            name="{{ .id }}"
            {{ if .required }}
              required
            {{end}}
          >
            {{ range .options }}
            <option value="{{ . }}">{{ . }}</option>
            {{ end }}
          </select>
        </label>
      {{ end }}
    </div>
  {{ end }}

  <!-- submit button -->
  <button
    class="btn mb-12"
    type="submit"
  >
    {{ .Params.submitButtonTitle }}
  </button>


</form>
