{{ define "main" }}

{{- partial "header.html" . -}}

  <!-- regular page -->
    <main class="container mx-auto my-16">

      <section class="text-3xl m-8
        grid grid-cols-1 gap-x-4 gap-y-24 items-start
        xl:grid-cols-2"
      >
        <div>
          {{ partial "page-header.html" . }}
        </div>

        <article>
          <ol class="list-none ml-0">
            {{ with .Site.Data.calendar }}
              {{ range where . "isodate" "!=" nil}}
                {{ if (.isodate | time.AsTime).After now }}
                  <li class="mb-4">
                    <ul class="list-none ml-0 pb-4">
                      <!-- date and name required -->
                      <li class="">{{ .date }}</li>
                      <li class="font-bold">
                        {{ .title }}
                        {{ with .link }}
                          <a class="ml-4 btn" href="{{ . }}">link</a>
                        {{ end }}
                      </li>
                      {{ with .description }}
                        <li class="">{{ . }}</li>
                      {{ end }}
                      {{ with .location }}
                        <li class="italic">{{ . }}</li>
                      {{ end }}
                    </ul>
                  </li>
                {{ end }}
              {{ end }}
            {{ else }}
              <p>No upcoming calendar entries for now.</p>
            {{ end }}
          </ol>
        </article>
      </section>
    </main>
{{ end }}
